body {
    background-image: url(/../HistoryOfTheInternet/images/Index_picture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.radius {
    border-radius: 15px;
}

.title-font-color {
    color: #eed202;
}

.footer-font-color {
    color: black;
}

.title-push {
    padding-top: 40px;
    padding-bottom: 30px;
}