@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    background-color: #eef4f7;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: #293241;
    font-family: sans-serif;
        padding-top: 70px;
    padding-bottom: 10px;
}

/* Navigation bar color */
.nav-color {
    background-color: #293241;
}

/* Alignment of Background image */
.internet-bg {
    z-index: 5;
    height: auto;
    width: auto;
    color: #000;
    font-size: 400%;
    padding: 0;
}

/* paragraph under Title */
.intro-state {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* * * * Cards designs: https://bbbootstrap.com/snippets/simple-image-overlay-hover-effect-38877551 * * * */
.radius {
    border-radius: 15px;
}

.title-push {
    padding-top: 30px;
    padding-bottom: 20px;
}

.sub-font {
    color: #3D5A80;
    text-align: center;
    font-weight: 500;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    overflow: hidden
}


.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}


.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.card-bg-color {
    background: #293241;
}

/* Footer design */
.footer-push {
    padding-top: 60px;
}

.footer-font-color {
    color: #293241;
}

/* * * * * * * * * * Media Queries * * * * * * * * * */
@media only screen and (min-width: 280px) {
    .content .content-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 99%;
        width: 100%;
    }

    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .fadeIn-bottom {
        top: 50%;
    }

    .content-details h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.3em;
    }

    .content-details p {
        color: #fff;
        font-size: 1em;
    }
}

@media screen and (max-width:500px) {
h1 {
font-size: 45px;
}
}

@media only screen and (min-width: 600px) {
    .int-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
    }

    .content-details h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.3em;
    }

    .content-details p {
        color: #fff;
        font-size: 1em;
    }

}


@media only screen and (min-width: 750px) {
    .int-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      /*  background-image: url(/../HowtheInternetWorks/images/Index_picture.png); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.4;
    }

    .content-details h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1em;
    }

    .content-details p {
        color: #fff;
        font-size: .8em;
    }

}


@media only screen and (min-width: 1024px) {
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .fadeIn-bottom {
        top: 50%;
    }

    .content-details h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.3em;
    }

    .content-details p {
        color: #fff;
        font-size: 1em;
    }

}

@media only screen and (min-width: 1050px) {
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s
    }

    .fadeIn-bottom {
        top: 80%;
    }

    .content-details h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .content-details p {
        color: #fff;
        font-size: 1em;
    }

    .content .content-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

}
