@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    background-color: #eef4f7;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin-top: 55px;
    margin-bottom: 70px;
}

h1 {
    font-size: 65px;
    font-weight: 900;
    color: #293241;
}

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}


.text-right {
    text-align: right;
}

.about-pg, .team-pg, .topic-pg {
    padding-top: 40px;
    padding-bottom: 50px;
}

h1, .topic-first-sen, .topic-img-card {
    text-align: center;
}

.about-bg-color {
    background: white;
}

/*
.www-bg {
    background-image: url(/../HistoryOfTheInternet/images/web_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .3;
} */

.topic-bg {
    position: relative;
    z-index: 5;
    height: auto;
    width: auto;
    color: #000;
    font-size: 400%;
    padding: 0;
}

.topic-bg .www-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/../HistoryOfTheInternet/images/web_bg.jpg) center center;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.topic-bg .creation-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/../HistoryOfTheInternet/images/network_bg.jpg) center center;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.topic-bg .search-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/../HistoryOfTheInternet/images/search_bg.jpg) center center;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.topic-bg .ecom-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/../HistoryOfTheInternet/images/ecommerce_bg.jpg);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.topic-bg .communication-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/../HistoryOfTheInternet/images/uprising_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.topic-bg .glossary-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/../HistoryOfTheInternet/images/glossary_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.info-push {
    padding-top: 30px;
}

.breadcrumb {
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    font-weight: 900;
    color: #3D5A80;
}

.p-align {
    text-align: center;
}

.ab-cd-push {
    margin-top: 7px;
    margin-bottom: 7px;
}

.topic-card {
    border-color: #EE6C4D;
    border-style: solid;
    border-width: 6px;
}

.topic-push {
    padding-left: 15px;
    line-height: 2;
}

h2 {
    font-size: 25px;
    font-weight: 900;
    color: #3D5A80;
}

.video-push {
    padding-left: 75px;
}
